---
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

$base-font-family: 'Open Sans', 'sans-serif';
$base-font-size: 100%;
$base-line-height: 150%;
$primary-text-color: rgb(51,51,51);
$secondary-text-color: #817b62;
$accent-text-color: #534e36;

$primary-bg-color: #fff;




@import 'base';
@import 'intro';
@import 'default';
@import 'home';
